<ion-view view-title="New Diet">
  <ion-content class="">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="" ng-model="diet.nombre">
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <textarea placeholder="" ng-model="diet.descripcion"></textarea>
      </label>
      <div class="item range range-positive">
        <span class="input-label">Difficulty</span>
        <i class="icon ion-ios-minus"></i>
        <input placeholder="dificultad" ng-model="diet.difficulty" type="range" n name="volume" min="1" max="3">
        <i class="icon ion-ios-plus"></i>
      </div>
      <label class="input-label">Recetas</label>
      <div class="row">
        <div class="col col-75">
          <select style="width: 90%;" ng-model="diet.selectedRecipe" ng-options="value.title for value in diet.listRecipe">
          </select>

        </div>
        <div class="col col-offset-10">
          <button style="border-radius: 30px 30px 30px 30px;" class=" button button-calm ion-plus"
                  ng-click="addRecipe()"></button>
        </div>
      </div>
      <ul>
        <li class="padding-bottom" ng-repeat="item in diet.listSelectingRecipeName track by $index">
          <button class="btn button">
            <strong>{{$index+1}}</strong>
            {{ item}}
            <button class="button button-assertive ion-minus-round" ng-click="removeIngredient($index)"></button>
          </button>
        </li>
      </ul>
    </div>
    <div class="row">
      <button style="border-radius: 15px 15px 15px 15px;" ng-click="save(diet)"
              class="button button-block button-balanced">
        save
      </button>
    </div>
  </ion-content>
</ion-view>
